html{
    background-color: pink;
}

p{
    color: blue;
}

.apple{
    color: red;
}

.rotten{
    color: brown;
}

#orange{
    color: aqua;
}

span{
    color: purple;
}

div{
    color: orangered; 
}

div span{
    color: orange;
}